 /* ANIMACIÃ“N DE SOBRE */
 #myDIV{
    z-index: 11;
  }
  
  #sobre1{
    position: absolute;
   left: 0%;
  }
  
  #sobre2{
    
   position: absolute;
   right: 0%;
  }
  
  .sobreSize{
    height: 100vh;
    z-index: 10;
  }
  
  .posAbsolute{
   position: absolute;
    position: absolute;
  }
  
  .sello{
   position: absolute;
   z-index: 11;
   top: calc(50% - 50px);
   left: calc(50% - 50px);
  }
  
  .moved {
   transform: translate(-100vh); /* Equivalente a translateX(10px) */
   background-color: transparent;
   transition: all 2s ease-in-out;
   z-index: 100;
  }
  
  .moved2 {
   transform: translate(100vh); /* Equivalente a translateX(10px) */
   background-color: transparent;
   transition: all 2s ease-in-out;
   z-index: 100;
  }
  
  .selloAnimation {
    width: 100px;
    height: 100px;
    animation: crescendo 1.4s alternate infinite ease-in;
  }
  
  @keyframes crescendo {
    0%   {transform: scale(1);}
    100% {transform: scale(1.4);}
  }
  
  /* Finalizan estilos animacion de sobre */